:root{
    --button-size: 8%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100vw;
}
#map{
    height: calc(100% - var(--button-size));
    width: 100vw;
}
p{
    margin:0;
    padding: 0;
}

.level-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}
.level-buttons__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3.8rem;
    aspect-ratio: 1;
    background-color: rgb(17, 4, 139);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 20px 44px -8px rgba(0,0,0,0.75);
}
.level-buttons__button--selected{
    background-color: rgb(17, 4, 80);
}
.level-buttons__text{
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}


.names{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.names>p{
    color:#7A7A7A;
    font-weight: 600;
    font-size: 1em;
}

.controls{
    display: flex;
    flex-direction: row;
    height: var(--button-size);
    width: 100vw;
}
.controls__button{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: black;
    font-family: monospace;
    user-select: none;
    color:gray;
    font-size: 1.1em;
}
.controls__button--selected{
    color: darkcyan;
    background-color: #111;
}

.controls__button:active{
    background-color: #ddd;
}
.controls__button > img{
    display: block;
    height: 50%;
    aspect-ratio: 1;
}